<ion-view view-title="Alert">
  <ion-content class=" padding">
    <h2>Motion Alert Setting</h2>
    <div class="list">
      <a class="item" href="#/tab/setting/setting-alert">Alert type
        <span class="item-note">Alert + Photo</span>

      </a>
    </div>
    <h2>Photo Setting</h2>
    <div class="list">
      <a class="item" href="#/tab/setting">Size
        <span class="item-note">1080*720</span>
      </a>
    </div>
    <h2>Video Setting</h2>
    <div class="list">
      <a class="item " href="#">Size
        <span class="item-note">1080*720</span>
      </a>
      <a class="item " href="#">Length
        <span class="item-note">30 seconds</span>
      </a>
    </div>
    <h2>Account Setting</h2>
    <div class="list">
      <a class="item " href="#">Username
        <span class="item-note">Huayu Heh</span>
      </a>
    </div>

  </ion-content>
</ion-view>
