<ion-view view-title="Home">
  <ion-content class="padding">
  <H2>Live Stream</H2>
    <img src="img/stream.jpg" alt="">

    <div class="row">
      <div class="col">
        <button class="button button-block">Photo</button>
      </div>
      <div class="col">
        <button class="button button-block">Video</button>
      </div>
      <div class="col">
        <button class="button button-block">LED</button>
      </div>
      <div class="col">
        <button class="button button-block">Buzzer</button>
      </div>
    </div>

  <h2>Motion Alert</h2>
    <a  href="#/alert" class="button button-outline button-positive button-block icon-right ion-chevron-right my-alert">
      <i class="icon ios-notifications"></i>    17.04.26</a>
    <a  href="#/alert" class="button button-outline button-positive button-block icon-right ion-chevron-right my-alert">
      <i class="icon ios-notifications"></i>    17.04.26</a>
  </ion-content>

</ion-view>

