<ion-view view-title="Alert">
  <ion-content class=" padding">
  <h2>2017.04.07 06:35</h2>
    <img ng-src="" alt="">
    <h2>Bird's name</h2>
    <div class="padding-top-small">
      <div class="">
          <div class="list list-inset">
            <label class="item item-input">

              <input type="text" placeholder="Enter the Bird's name">
            </label>
          </div>
        </div>

      </div>
    </div>
    <h2>Observation Note</h2>
    <div class="padding-top-small">
      <textarea class="big-textarea" rows="4" placeholder="Notes">
      </textarea>

    </div>
    <div class="row">
      <div class="col">
        <button class="button button-positive button-clear button-block">Delete</button>
      </div>
      <div class="col">
        <button class="button button-positive button-block">Save</button>
      </div>
    </div>


  </ion-content>
</ion-view>
