<ion-view title="report" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="report-list3">
      <ion-item class="item-thumbnail-left" id="report-list-item2" ui-sref="tabsController.chickadee">
        <h2>chickadee</h2>
        <p style="white-space:normal;">11/02/2016 11:10 AM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="report-list-item3">
        <h2>chickadee</h2>
        <p style="white-space:normal;">11/02/2016 11:10 AM</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="report-list-item4">
        <h2>chickadee</h2>
        <p style="white-space:normal;">11/02/2016 11:10 AM</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>