<ion-view view-title="Device">
  <ion-content class="padding">
    <h2>Peeper feeder</h2>
  <div class="big-card">
    <div class="row">
      <div class="col">
        <img class="img-device" src="../img/device.jpg">
      </div>
      <div class="col">
        <h3>White</h3>
        <p class="text-center">Large</p>
        <div class="flow-bottom">
          <p class="text-center">Ver 1.02</p>
          <button class="button button-positive button-block button-small"> Update</button>
        </div>
      </div>
    </div>
  </div>
  <h2>Status</h2>
  <div class="big-card">
    <div class="row">
      <div class="col-25">
        <p class="p-note">Temp</p>
        <img class="device-icon" src="../img/temp.jpg">
        <p class="text-center"><span class="span-small">83 F</span></p>
      </div>
      <div class="col-25 board-left">
        <p class="p-note">Humidity</p>
        <img class="device-icon" src="../img/humidity.jpg">
        <p class="text-center"><span class="span-small">83 F</span></p>
      </div>
      <div class="col-25 board-left">
        <p class="p-note">Battery</p>
        <img class="device-icon" src="../img/battery.jpg">
        <p class="text-center"><span class="span-small">83 F</span></p>
      </div>
      <div class="col-25 board-left">
        <p class="p-note">Wifi</p>
        <img class="device-icon" src="../img/wifi.svg">
        <p class="text-center"><span class="span-small">83 F</span></p>

      </div>
    </div>
  </div>
    <h2>Sensor</h2>
    <div class="small-card">
      <p class="p-note">LED</p>
      <p class="p-big">OFF</p>
    </div>
    <div class="small-card">
      <p class="p-note">Buzzer</p>
      <p class="p-big">OFF</p>
    </div>

  </ion-content>
</ion-view>
