<ion-view view-title="Home">
  <ion-content class="padding">
  <H2>Live Stream</H2>
    <img src="http://10.0.1.25:8080/stream/video.mjpeg" alt="">

    <div class="row">
      <div class="col">
        <button class="button button-block">Photo</button>
      </div>
      <div class="col">
        <button class="button button-block">Video</button>
      </div>
      <div class="col">
        <button class="button button-block" ng-click="turnLight()">LED</button>
      </div>
      <div class="col">
        <button class="button button-block" ng-click="turnBuzzer()">Buzzer</button>
      </div>
    </div>

  <h2>Motion Alert</h2>
    <a  href="#/tab/alert" class="button button-assertive button-block icon-right ion-chevron-right my-alert">
      <i class="icon ios-notifications"></i>    17.04.26</a>
    <a  href="#/tab/alert" class="button button-outline button-assertive button-block icon-right ion-chevron-right my-alert">
      <i class="icon ios-notifications"></i>    17.04.26</a>

  <h2>Other Notification</h2>
    <a  href="#/tab/alert" class="button button-positive button-outline  button-block icon-left ion-ios-device my-alert">
      <i class="icon ios-notifications"></i>The food is low, please add more</a>
  </ion-content>

</ion-view>

