<ion-view view-title="Home">
  <ion-content class="padding">
  <H2 class="padding-bottom">Live Stream</H2>
    <img ng-src="{{view}}" alt="">

    <div class="row">
      <div class="col-25 padding-side">
        <button class="button button-positive button-block" ng-click="takePicture()">Photo</button>
      </div>
      <div class="col-25 padding-side">
        <button class="button button-positive button-block" ng-click="showLive()">Live</button>
      </div>
      <div class="col-25 padding-side">
        <button class="button button-positive button-block" ng-click="turnLight()">LED</button>
      </div>
      <div class="col-25 padding-side">
        <button class="button button-positive button-block" ng-click="turnBuzzer()">Buzz</button>
      </div>
    </div>

  <h2>Motion Alert</h2>

    <a  href="#/tab/alert" class="button button-outline button-assertive button-block icon-right ion-chevron-right my-alert">
      <i class="icon ios-notifications"></i>    17.04.26</a>

  <h2>Other Notification</h2>
    <a  href="#/tab/alert" class="button button-positive button-outline  button-block icon-left ion-ios-device my-alert">
      <i class="icon ios-notifications"></i>The food is low, please add more</a>
  </ion-content>

</ion-view>

