<ion-view view-title="Setting">
  <ion-content class=" padding">
    <h2 class="padding-bottom">Motion Alert Setting</h2>
    <div class="list">
      <a class="item only-one" href="#/tab/setting-alert">Alert type
        <span class="item-note">Alert + Photo</span>

      </a>
    </div>
    <h2 class="padding-bottom">Photo Setting</h2>
    <div class="list">
      <a class="item only-one" href="#/tab/setting">Size
        <span class="item-note ">1080*720</span>
      </a>
    </div>
    <h2 class="padding-bottom">Video Setting</h2>
    <div class="list">
      <a class="item item-first" href="#">Size
        <span class="item-note">1080*720</span>
      </a>
      <a class="item item-last" href="#">Length
        <span class="item-note">30 seconds</span>
      </a>
    </div>
    <h2 class="padding-bottom">Account Setting</h2>
    <div class="list">
      <a class="item item-first" href="#">Username
        <span class="item-note">Huayu Heh</span>
      </a>
      <a class="item " href="#">Email
        <span class="item-note">huayuheh@gmail.com</span>
      </a>
      <a class="item item-last" href="#">Password
        <span class="item-note">********</span>
      </a>
    </div>

  </ion-content>
</ion-view>
