<ion-view view-title="Record">
  <ion-content class="padding padding-top">
    <div class="row">
      <div class="col-80">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
      </div>
      <div class="col-20">
        <button class="button button-icon my-icon-button"></button>
      </div>
    </div>

    <div class="small-card" ng-repeat="record in records">
      <div class="small-card-header">
        <h3>{{record.name}}</h3>
      </div>
      <div class="small-card-img">
        <a href="#/tab/record/{{record.id}}"><img ng-src="{{record.face}}"></a>
      </div>
      <div class="">
        <div class="row">
          <div class="col">
            <div class="btn-small">
              <i class="icon ion-ios-heart-outline"></i>  Love</div>
          </div>
          <div class="col">
            <div class="btn-small">{{record.date}}</div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
