<ion-view view-title="Live Photo">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="whoIsComing-markdown5" class="show-list-numbers-and-dots">

    </div>
    <div style="margin: 0px; background-color: rgb(232, 235, 239); text-align: center;">
      <img alt="" ng-src="{{captureImage}}">
    </div>
    <button ng-click="video()" id="whoIsComing-button9" class="button button-energized button button-block">Take Picture</button>
  </ion-content>
</ion-view>
