<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="home" icon="ion-android-home" href="#/page1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="alart" icon="ion-android-alert" href="#/page1/alart" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="real time" icon="ion-eye" href="#/page1/live" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="bird report" icon="ion-android-list" href="#/page1/tab2/report" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="setting" icon="ion-android-settings" href="#/page1/tab3/report" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>