<ion-view title="Who is coming?" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <h1 id="whoIsComing-heading1" style="color:#000000;text-align:center;">Heading</h1>
    <div id="whoIsComing-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="whoIsComing-button8" class="button button-assertive button-small button-block">Buzzzzz!</button>
    <button id="whoIsComing-button9" class="button button-energized button-small button-block">Record video</button>
    <button id="whoIsComing-button10" class="button button-positive  button-block">Save it</button>
  </ion-content>
</ion-view>